In [97]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import pymongo

## read raw csv files

In [98]:

metro_NY_file = 'Police Dataset/Large_metro_areas/NYPD_Arrests_Data__Historic_.csv'
NYFrisk_2015_file = 'Police Dataset/NYC_stop_frisk/sqf-2015.csv'
NYFrisk_2016_file = 'Police Dataset/NYC_stop_frisk/sqf-2016.csv'
NYFrisk_2017_file = 'Police Dataset/NYC_stop_frisk/sqf-2017.csv'
NYFrisk_2018_file = 'Police Dataset/NYC_stop_frisk/sqf-2018.csv'
NYFrisk_2019_file = 'Police Dataset/NYC_stop_frisk/sqf-2019.csv'

deaths_arrests_file = 'Police Dataset/deaths_arrests_race.csv'


fatal_encouters_file = 'Police Dataset/fatal_encounters_dot_org.csv'
fatal_shootings_file = 'Police Dataset/fatal-police-shootings-data.csv'

contracts_file = 'Police Dataset/police_contracts.csv'

killings_file = 'Police Dataset/police_killings.csv'


wash_post_shootings_file = 'Police Dataset/shootings_wash_post.csv'

politics_file = 'Police Dataset/politics_538.csv'
politics_df = pd.read_csv(politics_file)

In [99]:

metro_NY_df = pd.read_csv(metro_NY_file)
NYFrisk_2015_df = pd.read_csv(NYFrisk_2015_file)
NYFrisk_2016_df = pd.read_csv(NYFrisk_2016_file)
NYFrisk_2017_df = pd.read_csv(NYFrisk_2017_file)
NYFrisk_2018_df = pd.read_csv(NYFrisk_2018_file)
NYFrisk_2019_df = pd.read_csv(NYFrisk_2019_file)

deaths_arrests_df = pd.read_csv(deaths_arrests_file)


fatal_encouters_df = pd.read_csv(fatal_encouters_file)
fatal_shootings_df = pd.read_csv(fatal_shootings_file)



killings_df = pd.read_csv(killings_file)



wash_post_shootings_df = pd.read_csv(wash_post_shootings_file)

/Users/applewang/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0,1,2,3,4,8,18,19,73,74,84,85,86,103,110,111) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## start cleaning data frames

In [100]:
#NYFrisk_2015_df 
#frisk_2016_filtered
#frisk_2017_filtered
#frisk_2018_filtered
#NYFrisk_2019_df 



#cleaned data frames:

#merged_frisk
#clean_metro_NY
#clean_deaths_arrest
#clean_fatal_encouters
#fatal_shootings_df
#clean_killings_df
#politics_df
#wash_post_shootings_df

In [101]:
frisk_2016_cols = ["year","crimsusp","sex","race","city"]
frisk_2016_filtered = NYFrisk_2016_df[frisk_2016_cols].copy()

In [102]:
frisk_2017_cols = ["year","crimsusp","sex","race","city"]
frisk_2017_filtered = NYFrisk_2017_df[frisk_2016_cols].copy()

In [103]:

frisk_2017_cols = ["year","crimsusp","sex","race","city"]
frisk_2018_filtered = NYFrisk_2018_df[frisk_2016_cols].copy()

In [111]:
#merge data 2015-2019
frames = [NYFrisk_2015_df,frisk_2016_filtered,frisk_2017_filtered
,frisk_2018_filtered
,NYFrisk_2019_df ]
merged_frisk = pd.concat(frames, keys=['NYFrisk_2015_df ', 'frisk_2016_filtered', 'frisk_2017_filtered'
                                      ,'frisk_2018_filtered','frisk_2019_filtered'])

merged_frisk.head()

                    year crimsusp sex race       city
NYFrisk_2015_df  0  2015   FELONY   M    W   BROOKLYN
                 1  2015   FELONY   M    B  MANHATTAN
                 2  2015     MISD   M    B  MANHATTAN
                 3  2015     MIDS   M    B  MANHATTAN
                 4  2015     MISD   M    B  MANHATTAN

In [105]:
clean_metro_NY_filtered=metro_NY_df.fillna(0)

clean_metro_NY_cols = ["ARREST_KEY","ARREST_DATE","PD_DESC","OFNS_DESC","ARREST_BORO","AGE_GROUP","PERP_SEX","PERP_SEX"
                      ,"PERP_RACE"]
clean_metro_NY_filtered = clean_metro_NY[clean_metro_NY_cols].copy()
clean_metro_NY_filtered.head()

,ARREST_KEY,ARREST_DATE,PD_DESC,OFNS_DESC,ARREST_BORO,AGE_GROUP,PERP_SEX,PERP_SEX,PERP_RACE
0,190294601,11/23/2018,"ASSAULT 2,1,UNCLASSIFIED",FELONY ASSAULT,B,25-44,M,M,BLACK
1,190266280,11/21/2018,0,0,Q,25-44,M,M,BLACK HISPANIC
2,190159521,11/19/2018,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,K,25-44,M,M,BLACK
3,190080571,11/16/2018,0,0,Q,18-24,M,M,BLACK
4,190027735,11/15/2018,0,0,M,45-64,M,M,WHITE HISPANIC

In [41]:
##cleaning data by zero fill NAN

clean_deaths_arrest = deaths_arrests_df.fillna(0)

In [109]:
#cleaning data/Dropping columns with incomplete data sets
clean_fatal_encouters= fatal_encouters_df[["Subject's name", "Subject's age", "Subject's gender", "Subject's race",
                                                    "Cause of death", "Symptoms of mental illness? INTERNAL USE, NOT FOR ANALYSIS", "Date of injury resulting in death (month/day/year)","Date (Year)"]]
clean_fatal_encouters.head()

,Subject's name,Subject's age,Subject's gender,Subject's race,Cause of death,"Symptoms of mental illness? INTERNAL USE, NOT FOR ANALYSIS",Date of injury resulting in death (month/day/year),Date (Year)
0,Mark A. Horton,21,Male,African-American/Black,Vehicle,No,01/01/2000,2000
1,Phillip A. Blurbridge,19,Male,African-American/Black,Vehicle,No,01/01/2000,2000
2,Samuel H. Knapp,17,Male,European-American/White,Vehicle,No,01/01/2000,2000
3,Mark Ortiz,23,Male,Hispanic/Latino,Vehicle,No,01/01/2000,2000
4,LaTanya Janelle McCoy,24,Female,African-American/Black,Vehicle,No,01/02/2000,2000

In [110]:
##cleaning data by zero fill NAN
clean_killings_df = killings_df.fillna(0)
clean_killings_df.head()

#cleaning data/Dropping columns with incomplete data sets
Cleankillings_df= killings_df[["Victim's age", "Victim's gender", "Victim's race", "Date of Incident (month/day/year)",
                                                 "City", "State", "Zipcode"]]
Cleankillings_df.head(35)

#Additional cleaning of data by dropping nan
newCleankillings_df_df= killings_df[["Victim's age", "Victim's gender", "Victim's race", "Date of Incident (month/day/year)",
                                                 "City", "State", "Zipcode"]]
newCleankillings_df=Cleankillings_df.dropna()
newCleankillings_df.head()

,Victim's age,Victim's gender,Victim's race,Date of Incident (month/day/year),City,State,Zipcode
0,28,Male,White,31/12/2019,Globe,AZ,85501.0
2,57,Male,Black,31/12/2019,Omaha,NE,68110.0
3,23,Male,Black,31/12/2019,Federal Way,WA,98003.0
4,37,Male,Black,31/12/2019,Chesterfield,MO,63005.0
5,49,Male,White,31/12/2019,Cross Lanes,WV,25313.0

In [112]:
politics_df.head()

                     Area  Republican Vote Share  Partisan Segregation
0    Jackson, Mississippi                  0.399                  0.63
1             New Orleans                  0.416                  0.58
2  Baton Rouge, Louisiana                  0.497                  0.56
3     Birmingham, Alabama                  0.455                  0.56
4   Shreveport, Louisiana                  0.444                  0.56

In [113]:
wash_post_shootings_df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

## create database connection with mongodb

In [44]:
#merged_frisk
#clean_metro_NY
#clean_deaths_arrest
#clean_fatal_encouters
#fatal_shootings_df
#clean_killings_df
#politics_df
#wash_post_shootings_df

In [45]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

## load dataframes to database

In [ ]:
#merged_frisk

db = client['police_db']
collection = db['merged_frisk']
merged_frisk.reset_index(inplace=True)
merged_frisk_dict = merged_frisk.to_dict("records")
#insert collection
collection.insert_many(merged_frisk_dict)

In [106]:
#clean_metro_NY

db = client['police_db']
collection = db['metro_NY']
clean_metro_NY_filtered.reset_index(inplace=True)
clean_metro_NY_filtered_dict = clean_metro_NY_filtered.to_dict("records")

#insert collection
collection.insert_many(clean_metro_NY_filtered_dict)

/Users/applewang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: DataFrame columns are not unique, some columns will be omitted.

In [69]:
#rename coloumns 

clean_deaths_arrest=clean_deaths_arrest.rename(columns={'Amer. Indian': 'Amer/Indian'})

In [70]:
#clean_deaths_arrest
db = client['police_db']
collection = db['deaths_arrest']
clean_deaths_arrest.reset_index(inplace=True)
clean_deaths_arrest_dict = clean_deaths_arrest.to_dict("records")

#insert collection
collection.insert_many(clean_deaths_arrest_dict)

In [48]:

#clean_fatal_encouters

db = client['police_db']
collection = db['fatal_encouters']
clean_fatal_encouters.reset_index(inplace=True)
clean_fatal_encouters_dict = clean_fatal_encouters.to_dict("records")

#insert collection
collection.insert_many(clean_fatal_encouters_dict)

In [49]:
#fatal_shootings_df


db = client['police_db']
collection = db['fatal_shootings_df']
fatal_shootings_df.reset_index(inplace=True)
fatal_shootings_df_dict = fatal_shootings_df.to_dict("records")

#insert collection
collection.insert_many(fatal_shootings_df_dict)

In [80]:
#rename coloumns 


clean_killings_df=clean_killings_df.rename(columns={'Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )': 'Geography'})

In [108]:
#newCleankillings_df

db = client['police_db']
collection = db['police_killings']
newCleankillings_df_df.reset_index(inplace=True)
newCleankillings_df_dict = newCleankillings_df.to_dict("records")

#insert collection
collection.insert_many(newCleankillings_df_dict )

In [51]:
#politics_df


db = client['police_db']
collection = db['politics']
politics_df.reset_index(inplace=True)
politics_df_dict = politics_df.to_dict("records")

#insert collection
collection.insert_many(politics_df_dict)

In [52]:
#wash_post_shootings_df

db = client['police_db']
collection = db['wash_post_shootings']
wash_post_shootings_df.reset_index(inplace=True)
wash_post_shootings_df_dict = wash_post_shootings_df.to_dict("records")

#insert collection
collection.insert_many(wash_post_shootings_df_dict)