In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
metro_chicago_file = 'Police Dataset/Large_metro_areas/Chicago Crimes_-_2001_to_Present.csv'
metro_Dallas_file = 'Police Dataset/Large_metro_areas/Dallas Police Arrests.csv'
metro_LA_file = 'Police Dataset/Large_metro_areas/LA Crime_Data_from_2010_to_2019.csv'
metro_NY_file = 'Police Dataset/Large_metro_areas/NYPD_Arrests_Data__Historic_.csv'
NYFrisk_2015_file = 'Police Dataset/NYC_stop_frisk/sqf-2015.csv'
NYFrisk_2016_file = 'Police Dataset/NYC_stop_frisk/sqf-2016.csv'
NYFrisk_2017_file = 'Police Dataset/NYC_stop_frisk/sqf-2017.csv'
NYFrisk_2018_file = 'Police Dataset/NYC_stop_frisk/sqf-2018.csv'
NYFrisk_2019_file = 'Police Dataset/NYC_stop_frisk/sqf-2019.csv'
budgets_file = 'Police Dataset/budgets.csv'
deaths_arrests_file = 'Police Dataset/deaths_arrests_race.csv'
dod_equip_file = 'Police Dataset/dod_equipment_purchases.csv'
education_file = 'Police Dataset/education_census_bureau.csv'
fatal_encouters_file = 'Police Dataset/fatal_encounters_dot_org.csv'
fatal_shootings_file = 'Police Dataset/fatal-police-shootings-data.csv'
juvenile_file = 'Police Dataset/juvenile_arrests.csv'
contracts_file = 'Police Dataset/police_contracts.csv'
employment_file = 'Police Dataset/police_employment_fbi.csv'
killings_file = 'Police Dataset/police_killings.csv'
policies_file = 'Police Dataset/police_policies.csv'
politics_file = 'Police Dataset/politics_538.csv'
poverty_file = 'Police Dataset/poverty_census_bureau.csv'
wash_post_shootings_file = 'Police Dataset/shootings_wash_post.csv'

In [16]:
# metro_chicago_df = pd.read_csv(metro_chicago_file, low_memory=False)
# metro_Dallas_df = pd.read_csv(metro_Dallas_file)
# metro_LA_df = pd.read_csv(metro_LA_file)
# metro_NY_df = pd.read_csv(metro_NY_file)
# NYFrisk_2015_df = pd.read_csv(NYFrisk_2015_file)
# NYFrisk_2016_df = pd.read_csv(NYFrisk_2016_file)
# NYFrisk_2017_df = pd.read_csv(NYFrisk_2017_file)
# NYFrisk_2018_df = pd.read_csv(NYFrisk_2018_file)
# NYFrisk_2019_df = pd.read_csv(NYFrisk_2019_file)
budgets_df = pd.read_csv(budgets_file)
# deaths_arrests_df = pd.read_csv(deaths_arrests_file)
# dod_equip_df = pd.read_csv(dod_equip_file)
# education_df = pd.read_csv(education_file)
# fatal_encouters_df = pd.read_csv(fatal_encouters_file)
# fatal_shootings_df = pd.read_csv(fatal_shootings_file)
# juvenile_df = pd.read_csv(juvenile_file)
# contracts_df = pd.read_csv(contracts_file)
employment_df = pd.read_csv(employment_file)
killings_df = pd.read_csv(killings_file)
policies_df = pd.read_csv(policies_file)
politics_df = pd.read_csv(politics_file)
poverty_df = pd.read_csv(poverty_file)
wash_post_shootings_df = pd.read_csv(wash_post_shootings_file)

In [8]:
employment_df

,data_year,ori,pub_agency_name,pub_agency_unit,state_abbr,division_name,region_name,county_name,agency_type_name,population_group_desc,...,male_officer_ct,male_civilian_ct,male_total_ct,female_officer_ct,female_civilian_ct,female_total_ct,officer_ct,civilian_ct,total_pe_ct,pe_ct_per_1000
0,1960,AK020045Y,Alcohol Beverage Control Board,NaN,AK,Pacific,West,NaN,Other State Agency,"Cities under 2,500",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1960,AL0011000,Homewood,NaN,AL,East South Central,South,JEFFERSON,City,"Cities from 10,000 thru 24,999",...,17.0,3.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1960,AL0160600,Coffeeville,NaN,AL,East South Central,South,NaN,City,"Cities under 2,500",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1960,AL0190000,Coffee,NaN,AL,East South Central,South,COFFEE,County,"Non-MSA counties from 10,000 thru 24,999",...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1960,AL0280600,Mentone,NaN,AL,East South Central,South,NaN,City,"Cities under 2,500",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1439462,2018,WV0350700,Department of Natural Resources:,Ohio County,WV,South Atlantic,South,OHIO,Other State Agency,"MSA counties under 10,000",...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN
1439463,2018,WV0390900,State Fire Marshal:,Preston County,WV,South Atlantic,South,PRESTON,Other State Agency,"MSA counties under 10,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1439464,2018,WV0550400,Department of Natural Resources:,Wyoming County,WV,South Atlantic,South,WYOMING,Other State Agency,"Non-MSA counties under 10,000",...,2.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,NaN
1439465,2018,WVWSP2200,State Police:,Lewisburg,WV,South Atlantic,South,GREENBRIER,State Police,"Non-MSA counties under 10,000",...,8.0,0.0,8.0,0.0,1.0,1.0,8.0,1.0,9.0,NaN
1439466,2018,WY0070500,Dubois,NaN,WY,Mountain,West,FREMONT,City,"Cities under 2,500",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
budgets_df

,year,city_name,id_city,city_population,cpi,rev_total_city,rev_general_city,intergovt_rev_city,igr_federal_city,igr_state_city,...,cash_other_offsets,cash_other_bonds,cash_other_other,county_name,id_county,county_population,relationship_city_school,enrollment,districts_in_city,consolidated_govt
0,1977,AK: Anchorage,22002001.0,174500,4.044885,5342.24,4956.92,2148.77,279.32,1869.46,...,178.51,787.93,691.32,NaN,NaN,NaN,4.0,36855.0,NaN,1.0
1,1978,AK: Anchorage,22002001.0,177000,3.759509,5948.99,5490.05,2468.11,403.24,2064.86,...,187.53,1395.82,1158.01,NaN,NaN,NaN,4.0,36804.0,NaN,1.0
2,1979,AK: Anchorage,22002001.0,179600,3.376308,6158.68,5746.64,2573.34,496.97,2076.37,...,249.03,1812.04,1314.62,NaN,NaN,NaN,4.0,36757.0,NaN,1.0
3,1980,AK: Anchorage,22002001.0,178800,2.974757,5654.93,5210.77,2313.62,371.46,1942.16,...,986.73,1330.72,1572.66,NaN,NaN,NaN,4.0,36008.0,NaN,1.0
4,1981,AK: Anchorage,22002001.0,174431,2.696590,6192.83,5736.81,2771.43,338.76,2432.67,...,977.32,1549.51,1669.55,NaN,NaN,NaN,4.0,34557.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6227,2013,WY: Cheyenne,512011003.0,61420,1.052211,1759.65,1388.54,691.83,0.00,691.83,...,0.00,356.49,2443.35,Laramie,511011011.0,94690.0,2.0,8972.0,1.0,0.0
6228,2014,WY: Cheyenne,512011003.0,62104,1.035415,2084.62,1789.64,995.35,347.20,648.15,...,0.05,368.39,2607.96,Laramie,511011011.0,95706.0,2.0,8972.0,1.0,0.0
6229,2015,WY: Cheyenne,512011003.0,62259,1.034187,1901.58,1613.17,767.70,90.31,677.38,...,0.00,344.11,2839.67,Laramie,511011011.0,96038.0,2.0,8972.0,1.0,0.0
6230,2016,WY: Cheyenne,512011003.0,62904,1.021304,1745.83,1433.06,586.85,78.16,508.69,...,0.00,554.85,2532.48,Laramie,511011011.0,97006.0,2.0,8972.0,1.0,0.0
6231,2017,WY: Cheyenne,512011003.0,63483,1.000000,1775.03,1454.77,628.39,103.62,524.77,...,0.00,465.23,2595.86,Laramie,511011011.0,97978.0,2.0,8972.0,1.0,0.0

In [12]:
killings_df.head()

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,Eric M. Tellez,28,Male,White,https://fatalencounters.org/wp-content/uploads...,31/12/2019,Broad St.,Globe,AZ,85501.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name withheld by police,NaN,Male,Unknown race,NaN,31/12/2019,7239-7411 I-40,Memphis,AR,38103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Terry Hudson,57,Male,Black,NaN,31/12/2019,3600 N 24th St,Omaha,NE,68110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Malik Williams,23,Male,Black,NaN,31/12/2019,30800 14th Avenue South,Federal Way,WA,98003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Frederick Perkins,37,Male,Black,NaN,31/12/2019,17057 N Outer 40 Rd,Chesterfield,MO,63005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
policies_df.head()

,City,Requires De-Escalation,Has Use of Force Continuum,Bans Chokeholds and Strangleholds,Requires Warning Before Shooting,Restricts Shooting at Moving Vehicles,Requires Exhaust All Other Means Before Shooting,Duty to Intervene,Requires Comprehensive Reporting
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albuquerque,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0
2,Anaheim,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN
3,Anchorage,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN
4,Arlington,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0

In [15]:
politics_df.head()

                     Area  Republican Vote Share  Partisan Segregation
0    Jackson, Mississippi                  0.399                  0.63
1             New Orleans                  0.416                  0.58
2  Baton Rouge, Louisiana                  0.497                  0.56
3     Birmingham, Alabama                  0.455                  0.56
4   Shreveport, Louisiana                  0.444                  0.56

In [24]:
shootings_count = wash_post_shootings_df.groupby('state').count()
shootings_count.sort_values(by='id', ascending = False)

,id,name,date,manner_of_death,armed,age,gender,race,city,signs_of_mental_illness,threat_level,flee,body_camera
state,,,,,,,,,,,,,
CA,793,793,793,793,756,731,793,693,793,793,793,755,793
TX,479,479,479,479,460,440,479,418,479,479,479,455,479
FL,349,349,349,349,333,335,349,323,349,349,349,336,349
AZ,253,253,253,253,240,243,253,220,253,253,253,243,253
CO,194,194,194,194,186,179,194,167,194,194,194,186,194
GA,181,181,181,181,175,176,180,155,181,181,181,174,181
OK,162,162,162,162,155,154,162,148,162,162,162,157,162
NC,156,156,156,156,153,151,156,148,156,156,156,151,156
OH,155,155,155,155,147,154,155,143,155,155,155,149,155
WA,152,152,152,152,146,146,152,125,152,152,152,144,152
MO,139,139,139,139,134,133,139,121,139,139,139,129,139
TN,137,137,137,137,131,133,137,121,137,137,137,134,137
LA,109,109,109,109,105,106,109,102,109,109,109,100,109
PA,108,108,108,108,102,105,108,95,108,108,108,105,108
NM,105,105,105,105,97,98,105,91,105,105,105,99,105
AL,104,104,104,104,97,99,104,94,104,104,104,102,104
IL,103,103,103,103,97,102,103,99,103,103,103,99,103
NY,98,98,98,98,97,93,98,88,98,98,98,94,98
NV,96,96,96,96,91,94,96,84,96,96,96,91,96
KY,95,95,95,95,90,92,94,87,95,95,95,87,95
IN,95,95,95,95,91,95,95,90,95,95,95,93,95
VA,95,95,95,95,92,93,95,90,95,95,95,93,95
WI,91,91,91,91,90,88,91,88,91,91,91,87,91
OR,88,88,88,88,86,85,88,75,88,88,88,80,88
SC,87,87,87,87,83,86,87,78,87,87,87,83,87
AR,81,81,81,81,77,76,81,70,81,81,81,75,81
MD,79,79,79,79,71,78,79,76,79,79,79,77,79
MI,78,78,78,78,75,76,78,67,78,78,78,77,78
NJ,68,68,68,68,65,67,68,61,68,68,68,61,68
MS,66,66,66,66,63,60,66,60,66,66,66,61,66
MN,61,61,61,61,59,61,61,59,61,61,61,59,61
UT,60,60,60,60,59,60,60,57,60,60,60,57,60
WV,54,54,54,54,49,51,54,44,54,54,54,52,54
KS,49,49,49,49,47,49,49,47,49,49,49,48,49
ID,41,41,41,41,40,39,41,37,41,41,41,40,41
AK,39,39,39,39,39,38,39,35,39,39,39,36,39
MA,35,35,35,35,32,33,35,33,35,35,35,35,35
IA,32,32,32,32,32,32,32,31,32,32,32,30,32
MT,31,31,31,31,28,30,31,29,31,31,31,28,31
HI,30,30,30,30,26,29,30,29,30,30,30,29,30
NE,24,24,24,24,22,24,24,24,24,24,24,23,24
ME,22,22,22,22,21,22,22,21,22,22,22,18,22
CT,21,21,21,21,19,21,21,20,21,21,21,20,21
SD,17,17,17,17,17,16,17,14,17,17,17,15,17
WY,14,14,14,14,14,14,14,13,14,14,14,13,14
NH,13,13,13,13,13,13,13,12,13,13,13,13,13
DE,13,13,13,13,11,13,13,10,13,13,13,13,13
DC,13,13,13,13,13,13,13,13,13,13,13,13,13
ND,11,11,11,11,10,11,11,11,11,11,11,11,11
VT,9,9,9,9,9,9,9,8,9,9,9,9,9
RI,4,4,4,4,3,4,4,4,4,4,4,3,4

In [18]:
poverty_df.head()

,id,Geographic Area Name,Estimate!!Total!!Population for whom poverty status is determined,Margin of Error!!Total MOE!!Population for whom poverty status is determined,Estimate!!Below poverty level!!Population for whom poverty status is determined,Margin of Error!!Below poverty level MOE!!Population for whom poverty status is determined,Estimate!!Percent below poverty level!!Population for whom poverty status is determined,Margin of Error!!Percent below poverty level MOE!!Population for whom poverty status is determined,Estimate!!Total!!Population for whom poverty status is determined!!AGE!!Under 18 years,Margin of Error!!Total MOE!!Population for whom poverty status is determined!!AGE!!Under 18 years,...,"Estimate!!Below poverty level!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Worked less than full-time, year-round in the past 12 months","Margin of Error!!Below poverty level MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Worked less than full-time, year-round in the past 12 months","Estimate!!Percent below poverty level!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Worked less than full-time, year-round in the past 12 months","Margin of Error!!Percent below poverty level MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Worked less than full-time, year-round in the past 12 months",Estimate!!Total!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Margin of Error!!Total MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Estimate!!Below poverty level!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Margin of Error!!Below poverty level MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Estimate!!Percent below poverty level!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work,Margin of Error!!Percent below poverty level MOE!!UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED!!Did not work
0,310M400US10100,"Aberdeen, SD Micro Area",41450.0,202.0,4743.0,724.0,11.4,1.7,10126.0,78.0,...,1104.0,296.0,45.1,9.0,2557.0,314.0,854.0,264.0,33.4,8.6
1,310M400US10140,"Aberdeen, WA Micro Area",68852.0,420.0,10980.0,1026.0,15.9,1.5,14622.0,159.0,...,1176.0,214.0,39.1,6.3,7664.0,648.0,3407.0,438.0,44.5,3.7
2,310M400US10180,"Abilene, TX Metro Area",156492.0,773.0,24001.0,1639.0,15.3,1.0,39611.0,281.0,...,3591.0,425.0,55.3,4.4,10972.0,987.0,5328.0,874.0,48.6,4.6
3,310M400US10220,"Ada, OK Micro Area",36923.0,307.0,5685.0,532.0,15.4,1.5,8985.0,81.0,...,778.0,154.0,50.7,6.7,2882.0,253.0,1521.0,185.0,52.8,4.5
4,310M400US10260,"Adjuntas, PR Micro Area",18125.0,41.0,11325.0,843.0,62.5,4.6,3882.0,25.0,...,176.0,72.0,77.9,14.3,1719.0,261.0,1428.0,246.0,83.1,5.5