In [12]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:

metro_NY_file = 'Police Dataset/Large_metro_areas/NYPD_Arrests_Data__Historic_.csv'
NYFrisk_2015_file = 'Police Dataset/NYC_stop_frisk/sqf-2015.csv'
NYFrisk_2016_file = 'Police Dataset/NYC_stop_frisk/sqf-2016.csv'
NYFrisk_2017_file = 'Police Dataset/NYC_stop_frisk/sqf-2017.csv'
NYFrisk_2018_file = 'Police Dataset/NYC_stop_frisk/sqf-2018.csv'
NYFrisk_2019_file = 'Police Dataset/NYC_stop_frisk/sqf-2019.csv'

deaths_arrests_file = 'Police Dataset/deaths_arrests_race.csv'


fatal_encouters_file = 'Police Dataset/fatal_encounters_dot_org.csv'
fatal_shootings_file = 'Police Dataset/fatal-police-shootings-data.csv'
juvenile_file = 'Police Dataset/juvenile_arrests.csv'
contracts_file = 'Police Dataset/police_contracts.csv'

killings_file = 'Police Dataset/police_killings.csv'


wash_post_shootings_file = 'Police Dataset/shootings_wash_post.csv'

In [14]:

metro_NY_df = pd.read_csv(metro_NY_file)
NYFrisk_2015_df = pd.read_csv(NYFrisk_2015_file)
NYFrisk_2016_df = pd.read_csv(NYFrisk_2016_file)
NYFrisk_2017_df = pd.read_csv(NYFrisk_2017_file)
NYFrisk_2018_df = pd.read_csv(NYFrisk_2018_file)
NYFrisk_2019_df = pd.read_csv(NYFrisk_2019_file)

deaths_arrests_df = pd.read_csv(deaths_arrests_file)


fatal_encouters_df = pd.read_csv(fatal_encouters_file)
fatal_shootings_df = pd.read_csv(fatal_shootings_file)
juvenile_df = pd.read_csv(juvenile_file)


killings_df = pd.read_csv(killings_file)



wash_post_shootings_df = pd.read_csv(wash_post_shootings_file)

In [28]:
#NYFrisk_2015_df 
#frisk_2016_filtered
#frisk_2017_filtered
#frisk_2018_filtered
#NYFrisk_2019_df

In [30]:
frisk_2016_cols = ["year","crimsusp","sex","race","city"]
frisk_2016_filtered = NYFrisk_2016_df[frisk_2016_cols].copy()

In [31]:
frisk_2017_cols = ["year","crimsusp","sex","race","city"]
frisk_2017_filtered = NYFrisk_2017_df[frisk_2016_cols].copy()

In [32]:

frisk_2017_cols = ["year","crimsusp","sex","race","city"]
frisk_2018_filtered = NYFrisk_2018_df[frisk_2016_cols].copy()

In [34]:
#merge data 2015-2019
frames = [NYFrisk_2015_df,frisk_2016_filtered,frisk_2017_filtered
,frisk_2018_filtered
,NYFrisk_2019_df ]
merged_frisk = pd.concat(frames, keys=['NYFrisk_2015_df ', 'frisk_2016_filtered', 'frisk_2017_filtered'
                                      ,'frisk_2018_filtered','frisk_2019_filtered'])

In [36]:
merged_frisk.head()

                    year crimsusp sex race       city
NYFrisk_2015_df  0  2015   FELONY   M    W   BROOKLYN
                 1  2015   FELONY   M    B  MANHATTAN
                 2  2015     MISD   M    B  MANHATTAN
                 3  2015     MIDS   M    B  MANHATTAN
                 4  2015     MISD   M    B  MANHATTAN