In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
metro_NY_file = 'Police Dataset/Large_metro_areas/NYPD_Arrests_Data__Historic_.csv'
metro_NY_df = pd.read_csv(metro_NY_file)
metro_NY_df.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,190294601,11/23/2018,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200512,F,B,40,0.0,25-44,M,BLACK,1008096.0,233595.0,40.807816,-73.913863,POINT (-73.91386266099995 40.807816227000046)
1,190266280,11/21/2018,665.0,NaN,NaN,NaN,PL 4902001,F,Q,109,0.0,25-44,M,BLACK HISPANIC,1032084.0,216954.0,40.762044,-73.827330,POINT (-73.82732958099997 40.762043893000055)
2,190159521,11/19/2018,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200000,M,K,77,0.0,25-44,M,BLACK,1003508.0,185056.0,40.674600,-73.930575,POINT (-73.93057482199998 40.67459999000005)
3,190080571,11/16/2018,475.0,NaN,NaN,NaN,PL 1651601,M,Q,103,1.0,18-24,M,BLACK,1039726.0,195270.0,40.702482,-73.799922,POINT (-73.799922252 40.702482133000046)
4,190027735,11/15/2018,475.0,NaN,NaN,NaN,PL 1651601,M,M,10,1.0,45-64,M,WHITE HISPANIC,984669.0,210807.0,40.745301,-73.998489,POINT (-73.99848931699995 40.745301320000074)

In [20]:
deaths_arrests_file = 'Police Dataset/deaths_arrests_race.csv'
deaths_arrests_df = pd.read_csv(deaths_arrests_file)
deaths_arrests_df.head()

,State,City,PD,Black People Killed by Police (1/1/2013-12/31/2019),Hispanic People Killed by Police (1/1/2013-12/31/2019),Native American People Killed by Police (1/1/2013-12/31/2019),Asian People Killed by Police (1/1/2013-12/31/2019),Pacific Islanders Killed by Police (1/1/2013-12/31/2019),White People Killed by Police (1/1/2013-12/31/2019),Unknown Race People Killed by Police (1/1/2013-12/31/2019),...,Violent crimes 2015 (if reported by agency),Violent crimes 2016 (if reported by agency),Violent crimes 2017 (if reported by agency),Violent crimes 2018 (if reported by agency),2013 Total Arrests (UCR Data),2014 Total Arrests,2015 Total Arrests,2016 Total Arrests,2017 Total Arrests,2018 Total Arrests
0,New Mexico,Albuquerque,Albuquerque Police Department,3.0,18.0,NaN,NaN,NaN,10.0,1.0,...,5406.0,6245.0,7686.0,7646.0,27700.0,25447.0,22126.0,20341.0,21130.0,22254.0
1,California,Anaheim,Anaheim Police Department,3.0,7.0,NaN,NaN,NaN,3.0,NaN,...,1271.0,1209.0,1253.0,1192.0,7891.0,8137.0,8381.0,9415.0,8869.0,10019.0
2,Alaska,Anchorage,Anchorage Police Department,1.0,1.0,2.0,NaN,NaN,5.0,4.0,...,3226.0,3422.0,3564.0,3824.0,17601.0,14748.0,14387.0,13294.0,13871.0,13973.0
3,Texas,Arlington,Arlington Police Department,7.0,1.0,NaN,1.0,NaN,4.0,1.0,...,1946.0,2188.0,NaN,1784.0,17258.0,16222.0,13989.0,11024.0,8397.0,9566.0
4,Georgia,Atlanta,Atlanta Police Department,13.0,NaN,NaN,NaN,NaN,1.0,1.0,...,5203.0,5121.0,4504.0,3814.0,30505.0,26958.0,NaN,22161.0,22581.0,NaN

In [10]:
fatal_encouters_file = 'Police Dataset/fatal_encounters_dot_org.csv'
fatal_encouters_df = pd.read_csv(fatal_encouters_file)
fatal_encouters_df

,Unique ID,Subject's name,Subject's age,Subject's gender,Subject's race,Subject's race with imputations,Imputation probability,URL of image of deceased,Date of injury resulting in death (month/day/year),Location of injury (address),...,Cause of death,A brief description of the circumstances surrounding the death,"Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS",Link to news article or photo of official document,"Symptoms of mental illness? INTERNAL USE, NOT FOR ANALYSIS",Video,Date&Description,Unique ID formula,Unique identifier (redundant),Date (Year)
0,25747,Mark A. Horton,21,Male,African-American/Black,African-American/Black,not imputed,NaN,01/01/2000,Davison Freeway,...,Vehicle,Two Detroit men killed when their car crashed ...,Unreported,https://drive.google.com/file/d/1-nK-RohgiM-tZ...,No,NaN,1/1/2000: Two Detroit men killed when their ca...,NaN,25747,2000
1,25748,Phillip A. Blurbridge,19,Male,African-American/Black,African-American/Black,not imputed,NaN,01/01/2000,Davison Freeway,...,Vehicle,Two Detroit men killed when their car crashed ...,Unreported,https://drive.google.com/file/d/1-nK-RohgiM-tZ...,No,NaN,1/1/2000: Two Detroit men killed when their ca...,NaN,25748,2000
2,25746,Samuel H. Knapp,17,Male,European-American/White,European-American/White,not imputed,NaN,01/01/2000,27898-27804 US-101,...,Vehicle,Samuel Knapp was allegedly driving a stolen ve...,Unreported,https://drive.google.com/file/d/10DisrV8K5ReP1...,No,NaN,1/1/2000: Samuel Knapp was allegedly driving a...,NaN,25746,2000
3,25749,Mark Ortiz,23,Male,Hispanic/Latino,Hispanic/Latino,not imputed,NaN,01/01/2000,600 W Cherry Ln,...,Vehicle,A motorcycle was allegedly being driven errati...,Unreported,https://drive.google.com/file/d/1qAEefRjX_aTtC...,No,NaN,1/1/2000: A motorcycle was allegedly being dri...,NaN,25749,2000
4,1,LaTanya Janelle McCoy,24,Female,African-American/Black,African-American/Black,not imputed,NaN,01/02/2000,5700 block Mack Road,...,Vehicle,LaTanya Janelle McCoy's car was struck from be...,Unknown,http://www.recordnet.com/article/20000110/A_NE...,No,NaN,1/2/2000: LaTanya Janelle McCoy's car was stru...,NaN,1,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28190,28190,Mary Lawrence,39,Female,Race unspecified,NaN,NaN,NaN,06/03/2020,Dewey Ave & N Saddler St,...,Gunshot,A Poteau officer entered a home regarding a do...,Pending investigation,https://www.nwahomepage.com/news/woman-killed-...,No,NaN,6/3/2020: A Poteau officer entered a home rega...,NaN,28190,2020
28191,28191,Guadalupe Francisco-Martinez,37,Female,Hispanic/Latino,Hispanic/Latino,not imputed,https://fatalencounters.org/wp-content/uploads...,06/03/2020,1600 block West Irving Park Road,...,Vehicle,"Officers saw a man, 22, driving a Jeep and att...",Pending investigation,https://blockclubchicago.org/2020/06/04/long-p...,No,NaN,"6/3/2020: Officers saw a man, 22, driving a Je...",NaN,28191,2020
28192,28193,Scott Hutton,36,Male,European-American/White,European-American/White,not imputed,https://fatalencounters.org/wp-content/uploads...,06/03/2020,1500 block Evergreen Drive,...,Gunshot,Officers were called to a home and found Alexa...,Pending investigation,https://www.fox16.com/news/breaking-news/alexa...,No,NaN,6/3/2020: Officers were called to a home and f...,NaN,28193,2020
28193,28194,Eric Anthony Galvan,25,Male,Hispanic/Latino,Hispanic/Latino,not imputed,https://fatalencounters.org/wp-content/uploads...,06/03/2020,2000 block Rockford Drive,...,Gunshot,Police arrived at a home to follow up on a hom...,Pending investigation,https://www.caller.com/story/news/crime/2020/0...,No,NaN,6/3/2020: Police arrived at a home to follow u...,NaN,28194,2020
28194,28195,Juan Carlos Lopez,NaN,Male,Hispanic/Latino,Hispanic/Latino,not imputed,https://fatalencounters.org/wp-content/uploads...,06/04/2020,400 block Northview Drive,...,Gunshot,An officer came to a home on Northview Drive a...,Suicide,https://myfox8.com/news/standoff-ends-with-sus...,No,NaN,6/4/2020: An officer came to a home on Northvi...,NaN,28195,2020

In [11]:
fatal_shootings_file = 'Police Dataset/fatal-police-shootings-data.csv'
fatal_shootings_df = pd.read_csv(fatal_shootings_file)
fatal_shootings_df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5411,5921,William Slyter,2020-06-13,shot,gun,22.0,M,W,Kansas City,MO,False,other,Other,False
5412,5922,TK TK,2020-06-13,shot,undetermined,NaN,M,NaN,San Bernardino,CA,False,attack,Not fleeing,False
5413,5924,Nicholas Hirsh,2020-06-15,shot,gun,31.0,M,W,Lawrence,KS,False,attack,Car,False
5414,5926,TK TK,2020-06-16,shot,gun,24.0,M,NaN,Beach Park,IL,False,attack,Not fleeing,False
5415,5927,TK TK,2020-06-16,shot,gun,27.0,M,NaN,Phoenix,AZ,False,attack,Not fleeing,False

In [13]:
killings_file = 'Police Dataset/police_killings.csv'
killings_df = pd.read_csv(killings_file)
killings_df

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,Eric M. Tellez,28,Male,White,https://fatalencounters.org/wp-content/uploads...,31/12/2019,Broad St.,Globe,AZ,85501.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name withheld by police,NaN,Male,Unknown race,NaN,31/12/2019,7239-7411 I-40,Memphis,AR,38103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Terry Hudson,57,Male,Black,NaN,31/12/2019,3600 N 24th St,Omaha,NE,68110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Malik Williams,23,Male,Black,NaN,31/12/2019,30800 14th Avenue South,Federal Way,WA,98003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Frederick Perkins,37,Male,Black,NaN,31/12/2019,17057 N Outer 40 Rd,Chesterfield,MO,63005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
politics_file = 'Police Dataset/politics_538.csv'
politics_df = pd.read_csv(politics_file)
politics_df

,Area,Republican Vote Share,Partisan Segregation
0,"Jackson, Mississippi",0.399,0.63
1,New Orleans,0.416,0.58
2,"Baton Rouge, Louisiana",0.497,0.56
3,"Birmingham, Alabama",0.455,0.56
4,"Shreveport, Louisiana",0.444,0.56
...,...,...,...
148,"Palm Bay-Melbourne, Florida",0.587,0.12
149,"Greater Myrtle Beach area, South Carolina and ...",0.692,0.12
150,City of Honolulu,0.330,0.12
151,"Bonita Springs, Florida",0.638,0.12
152,"Murrieta-Temecula-Menifee, California",0.598,0.10

In [17]:
wash_post_shootings_file = 'Police Dataset/shootings_wash_post.csv'
wash_post_shootings_df = pd.read_csv(wash_post_shootings_file)
wash_post_shootings_df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5384,5878,TK TK,2020-05-31,shot and Tasered,gun,NaN,M,W,Watertown,WI,False,attack,Not fleeing,False
5385,5842,David McAtee,2020-06-01,shot,gun,53.0,M,B,Louisville,KY,False,attack,NaN,True
5386,5866,Jorge Gomez,2020-06-01,shot,gun,25.0,M,H,Las Vegas,NV,False,attack,Not fleeing,False
5387,5867,Ryan Emblem Moore,2020-06-01,shot,NaN,36.0,M,W,Fayetteville,AR,False,undetermined,Not fleeing,False
5388,5869,Robert James Lyon,2020-06-02,shot,gun,65.0,M,NaN,Cottonwood,CA,False,other,Not fleeing,False